{% extends "Admin/templateAdmin.html.twig" %}
{% block stylesheets %}
<link rel= "stylesheet" href="{{baseUrl}}/assets/css/AdminStyle.css">
{% endblock %}


{% block body %}

<h1>PAGE ADMIN GENRE</h1>
<a href="{{baseUrl}}/admin/genreAdd/{{genre.id}}"button type="button" class="btn btn-primary btn-lg btn-block">Ajouter un genre</button></a>
<table class="table table-striped table-dark">
  <thead>  
      <th scope="col">ID</th>
      <th scope="col">Genre</th>
      {% for genre in genres|reverse %} 
      <tr>
        <th scope="col">{{ genre.id }}</th>
        <th scope="col">{{ genre.nom }}</th>
        <div class = "button" >
          <th><a href="{{baseUrl}}/admin/genreUpdate/{{genre.id}}"><button type="button" class="btn btn-primary">Modifier</button></a></th>
          <th><button type="button" class="btn btn-danger" onclick="messageDelete({{genre.id}})">Supprimer</button></th>
        </div> 
      </tr>
    {% endfor %}
      
  </thead>
</table>
{% endblock %}
{% block javascript %}
<script>
function messageDelete(id){
    if ( confirm( "êtes vous sur de vouloir supprimer" ) ) {
    // Code à éxécuter si le l'utilisateur clique sur "OK"
        window.location = "{{ baseUrl }}/admin/genreDelete/" + id;
    }
}   
</script>
{% endblock %}