{% extends "Admin/templateAdmin.html.twig" %}
{% block body %}
	<h1>ADMIN MODIFIER UN ROLE</h1>


	<div class="container center-div shadow mb-5">
		<div class="heading text-center mb-5 text-uppercase text-white "></div>
		<div class="container row d-flex flex-row justify-content-center mb-5">
			<div class="admin-form shadow p-2">
				<h2>{{film.titre}}</h2>
				<form action="{{baseUrl}}/admin/roleUpdate/{{film.id}}" method="POST">
					{# {% for i in 0..roles|length-1 %} #}
					{% for role in roles %}
                    <div class="input-group mb-3">
                    <label class = "artistAdmin">Artist :</label>
						<select class="custom-select custom-select-lg" name="artist-role[]">
							{% for artist in artists %}

								<option id="artist-role" value="{{ artist.id }}" class="form-control" {% if role.id == artist.id %} selected {% endif %}>{{ artist.nom }}
									{{ artist.prenom }}</option>
								{# {{dump(role.id)}} #}
							{% endfor %}
						</select>
						<label class = "artistAdmin" >Role :</label>
							<input type="text" name="role[]" value="{{ role.role }}">
						</div>
					{% endfor %}


					{#<div class="form-group">
											<label for="role" class="text-light">Titre:</label>
											<input type="text" id="artist" name="nom" value="" class="form-control" autocomplete="off">
											<label for="artist" class="text-light">Date de sortie:</label>
											<input type="date" id="artist" name="dateDeSortie" value="" class="form-control" autocomplete="off">
											<label for="artist" class="text-light">Synopsis:</label>
											<textarea type="" id="artist" name="synopsis" value="" class="form-control" autocomplete="off"></textarea>
											<label for="artist" class="text-light">Photo:</label>
											<input type="file" id="artist" name="photo" class="form-control-file" autocomplete="off">
					
										</div>#}
										<input type="submit" class="btn btn-success" name="form_submit">
				</form>
			</div>
		</div>
	</div>
{% endblock %}
