{% extends "template.html.twig" %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{baseUrl}}/assets/css/AdminStyle.css">
{% endblock %}

{% block header %}

	<nav class="navbar navbar-expand-lg navbar-dark">
		<a class="navbar-brand" href="{{baseUrl}}">PachiMovies</a>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link text-white" href="{{baseUrl}}/admin/index">Admin</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{{baseUrl}}/admin/acteur">Acteur</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{baseUrl}}/admin/film">Film</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{baseUrl}}/admin/genre">Genre</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{baseUrl}}/admin/role">Rôle</a>
			</li>
		</ul>
		<div>
			<a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-user"></i>
				Admin
			</a>
			<div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
				<a class="dropdown-item" href="{{baseUrl}}/admin/index/">Compte admin</a>
				<a class="dropdown-item" href="{{baseUrl}}/admin/logout/">Déconnexion</a>
			</div>
		</div>
	</nav>

{% endblock %}
