{% extends "template.html.twig" %}

{% block body %}
	<h1></h1>
	<div class="container">


		<div class="row">
		
				<div class="col-4">
					<a href=""><img src="{{baseUrl}}/assets/img/50n.jpg"></a>
				</div>
				<div class="col-4">
					<a href=""><img src="{{baseUrl}}/assets/img/ds.jpg"></a>
				</div>
				<div class="col-4">
					<a href=""><img src="{{baseUrl}}/assets/img/koe_no_katachi.jpg"></a>
				</div>
		</div>
		<div class="row">
			
				<div class="col-4">
					<a href=""><img src="{{baseUrl}}/assets/img/op.jpg"></a>
				</div>
				<div class="col-4">
				<a href=""><img src="{{baseUrl}}/assets/img/pw.jpg"></a>
				</div>																		<div class="col-4">
				<a href=""><img src="{{baseUrl}}/assets/img/conj.jpg"></a>-->
			   </div>

		</div>

	</div>
{% endblock %}
{% block footer %}
	<footer
		class="page-footer">

		<!-- Copyright -->
		<div class="footer-copyright text-center py-3">© 2020 Copyright : Maëra - Irina - Béatrice - Isabelle
		</div>
	</footer>
{% endblock %}
{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}
